html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

textarea.gutenberg-board {
  margin: 0;
  padding: 10px;
  font-size: 20px;  
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 125%;
  color: #212121;
  width: 100%;
  height: 100%;
  border: none;
}
